[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/plugins/start/vim-jsx"]
	path = .vim/pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/pack/plugins/start/vim-liquid"]
	path = .vim/pack/plugins/start/vim-liquid
	url = git@github.com:tpope/vim-liquid.git
[submodule ".vim/pack/plugins/vim-flake8"]
	path = .vim/pack/plugins/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/pack/plugins/start/vim-flake8"]
	path = .vim/pack/plugins/start/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
