[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/start/editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/plugins/start/vim-emoji-ab"]
	path = .vim/pack/plugins/start/vim-emoji-ab
	url = https://gitlab.com/gi1242/vim-emoji-ab.git
[submodule ".vim/pack/plugins/start/vim-prettier"]
	path = .vim/pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
